<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="first"/><br/>
    名：<input type="text" v-model="second"/><br/>
    姓名：<span>{{fullName}}</span>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el: '#root',
        data: {
            first: 'zhang',
            second: 'san',
            fullName: null
        },
        watch: {
            first(newVal) {
                setTimeout(() => { // 延迟函数，使程序延迟1秒执行
                    console.log(this)
                    this.fullName = newVal + '-' + this.second
                }, 1000)
            },
            second(newVal) {
                this.fullName = this.first + '-' + newVal
            }
        }
    })
</script>
</body>
</html>