<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="first"/><br/>
    名：<input type="text" v-model="second"/><br/>
    姓名：<span>{{first}} - {{second}}</span>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el: '#root',
        data: {
            first: 'zhang',
            second: 'san'
        }
    })
</script>
</body>
</html>